form{
    border: 3px solid #b4a6a6;
    width: 40%;
    text-align: center;
    
}

h1 {
    color: #b47d7d;
    text-align: center;
    background-color: chartreuse;
}


input[type=text], input[type=password] {
    /* width: 100%; */
    padding: 10px 20px;
    margin: 20px 0;
    font-size: 15px;
    display: inline-block;
    border: 2px solid #b4a6a6;
    box-sizing: border-box;
    position: relative;
}

button {
    /* width: 50%; */
    background-color: #b4a6a6;
    color: black;
    /* padding: 15px 20px; */
    /* margin: 20px 0; */
    /* border: 2px solid #b4a6a6; */
    cursor: pointer;
    position: relative;
    /* left: 75%;  */
    font-size: 15px;
    
    
}

button:hover {
    opacity: 0.9;
  }

  ul {
    list-style-type: none;
    overflow: hidden;
    background-color: rgb(187, 247, 75);
    margin: 0;
    padding: 10px;
  }

  li {
    display: inline;
    float: left;
  }

  li a {
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }